@charset "utf-8";

*{
margin:0px; padding:0px;}
body{
font-family:"宋体",Arial, Helvetica, sans-serif;
font-size:12px; }
ul li{ list-style:none; margin:0px; padding:0px;}
img{ border:none;}
.rmclear{ clear:both;}

.bj_top{ height:73px; background:url(/images/bianji_ht_images/bj_top_bg.gif) repeat-x;}
.bj_top_01{ margin-left:56px; float:left; display:inline;}
.bj_top_02{ float:left;}
.bj_top_03{ float:right; margin-right:46px;display:inline; color:#FFFFFF; height:73px; line-height:68px;}
.bj_top_03 span{ color:#EAE9E9;}

